
.whatsapp-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

.whatsapp-button:hover {
  background-color: #1ebe5f;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.whatsapp-button:hover .whatsapp-icon {
  animation: shake 0.5s linear;
}
